@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

:root{
    --PrimaryColor : #4A5BE6;
    --PrimaryDropColor : rgba(42, 52, 132, 0.8);
    /* --SecondaryColor : #7ADEE4; */
    --SecondaryColor : #38A8AF;
    --WhiteColor : #fff;
    --OfWhiteColor : #F1F4F9;
    --MainTextColor : #000;
    --SecTextColor : #4F4747;
    --ThrdTextColor : #A49999;
}
html{
    font-size: 16px;
}
*, *::before, *::after {
    margin: 0%;
    padding: 0%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all .3s ease-out;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    background-color: var(--OfWhiteColor);
    font-family: 'Open Sans', sans-serif;
    position: relative;
}
main{
    min-height: calc(100vh - 196px);
}

/* NAVIGATION BAR  */
nav{
    background-color: var(--WhiteColor);
    position: sticky;
    top: 0%;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0% 5%;
    font-size: 0.8rem;
    z-index: 10;
}
.logo-icon{
    margin-right: 30px;
}
.logo-icon img{
    height: 50px;
}
.profile-icon{
    margin-right: 30px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
}
.profile-icon img{
    height: auto;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
}
.profile-icon:hover{
    filter: brightness(.9);
}
.nav-items>a{
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
}
.nav-items>a:hover , .active-page{
    background-color: var(--OfWhiteColor);
}


/* FOOTER  */
footer{
    background-color: var(--WhiteColor);
    padding: 50px 5%;
    font-size: 0.8rem;
    text-transform: capitalize;
    color: #777;
}
.teamwork{
    margin-top: 10px;
    font-weight: 500;
    color: var(--SecTextColor)
}

/* HEADER TITLE  */
.p-title{
    text-align: center;
    text-transform: uppercase;
    color: var(--PrimaryColor);
    margin: 40px 0 0px;
}
.p-suptitle{
    text-align: center;
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--SecTextColor);
    text-transform: capitalize;
    font-style: italic;
}

/* FORM & INPUTS STYLE */
.add-std-sec{
    background-color: var(--WhiteColor);
    padding: 5%;
    border-radius: 15px;
    margin: 40px auto;
    width: 40%;
    border-radius: 15px;
}
.add-std-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-control{
    height: 40px;
    outline: none;
    border: none;
    padding: 0px 20px;
    border-radius: 3px;
    font-family: inherit;
}
.input{
    width: 248px;
    margin: 15px 0px;
    background-color: var(--OfWhiteColor);
    color: var(--SecTextColor);
    text-transform: capitalize;
}
.form-control:hover, .form-control:focus{
    box-shadow: var(--PrimaryDropColor) 0px 0px 5px;
}
.form-control::placeholder{
    color: #777;
    font-family: inherit;
    text-transform: capitalize;
}
.form-row{
    width: 248px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.file-input{
    width: 248px;
    height: 40px;
    margin: 15px 0px;
    padding: 0% 20px;
    border-radius: 3px;
    color: transparent;
    background-color: var(--OfWhiteColor);
    position: relative;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    text-transform: capitalize;
    z-index: 0;
}
.file-input::-webkit-file-upload-button {
    display: none;
}
.file-input::before {
    content: 'upload photo \2191';
    display: inline-block;
    white-space: nowrap;
    color: var(--SecTextColor);
    position: absolute;
    top: 50%;
    transform:translate(0, -50%);
    font-family: inherit;
    font-size: inherit;
    text-transform: capitalize;
}
    .file-input::after {
        content: '';
        display: inline-block;
        white-space: nowrap;
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(0%, -60%);
        font-family: inherit;
        font-size: inherit;
        text-transform: capitalize;
        color: var(--SecTextColor);
    }
.file-input:hover, .file-input:focus {
    box-shadow: var(--PrimaryDropColor) 0px 0px 5px;
}
.chboxlbl{
    color: var(--SecTextColor);
    text-transform: capitalize;
}
.checkbox{
    transform:scale(1.5);
    margin-right: 15px;
}
.btn{
    color: var(--WhiteColor);
    background-color: var(--PrimaryColor);
    text-transform: uppercase;
    cursor: pointer;
}
.secBtn{
    background-color: var(--SecondaryColor);
}
#errMsg,.errMsg{
    color: var(--PrimaryColor);
    text-transform: capitalize;
    margin-top: 30px;
}
.hide-control{
    display: none !important;
}

/* FILTER BAR  */
.filter-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 5%;
    margin: 15px 0;
}
.filter-bar>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filter-btn{
    color: var(--WhiteColor);
    margin: 0% 10px;
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
    text-transform: capitalize;
    background-color: var(--ThrdTextColor);
}
.filter-btn:hover{
    filter: brightness(1.1);
    box-shadow: var(--ThrdTextColor) 0px 0px 0px 3px;
}
.active-btn{
    background-color: var(--SecondaryColor);
}
.Continuous{
    background-color: green;
}
.Warning{
    background-color: orange;
}
.Separation{
    background-color: red;
}

/* TABLE STYLE  */
.table-container{
    max-width: 90%;
    border-radius: 15px;
    background-color: var(--WhiteColor);
    padding: 5%;
    margin: 40px auto;
}
table{
    border-collapse: collapse;
    width: 100%;
}
tr:not(:last-child){
    border-bottom: 1px var(--ThrdTextColor) solid;
}
tr:hover ~ tr{
    filter: opacity(.5);
}
th{
    color: var(--PrimaryColor);
    text-transform: uppercase;
}
td{
    padding: 10px 0;
}
td>img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
