/*   ATTENDANCE PAGE   */
.add-lecture{
    display: block;
    margin: 15px auto;
}
.name-header {
    text-align: left;
    width: calc(100% - 200px);
}

td>input {
    scale: 1.5;
}

.svTbl {
    margin: 40px auto;
    display: flex;
    justify-self: center;
    align-items: center;
}