/*   STUDENTS PAGE     */

/* STUDENTS TABLE */
tr {
    cursor: pointer;
}

.name-header, .email-header {
    text-align: left;
    width: calc(50% - 100px);
}

tr .dspStatus {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: auto;
}
@media (max-width:767px) {

    tr .dspStatus {
    height: 20px;
    width: 20px;
    }
}

/*   STUDENT MODAL     */
.modal-bg {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: var(--PrimaryDropColor);
    z-index: 11;
}

.modal {
    height: 60%;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--WhiteColor);
    border-radius: 15px;
    padding: var(--val30);
    /* display: block; */
}
.modal::backdrop{
    background: var(--PrimaryDropColor);
    background: rgba(42, 52, 132, 0.8);
}
.modal-close {
    background-color: var(--PrimaryColor);
    color: var(--WhiteColor);
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin: 0 0 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
}

.modal-close:hover {
    box-shadow: var(--PrimaryDropColor) 0px 0px 5px;
}

.modal-content {
    height: calc(100% - 60px);
}

.modal-content>div:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--val50);
    height: calc(100% - 50px);
}

@media (min-width:768px) {
    .modal-content>div:first-of-type {
        flex-direction: row;
    }

    .modal-content>div:first-of-type>div {
        width: calc(100% - 100px);
    }
}

@media (max-width:767px) {
    .modal{
        height: 50%;
        width: 80%;
    }
}
@media (min-width:1025px) {
    .modal{
        width: 50%;
    }
}

.modal-content img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

@media (max-width:767px) {
    .modal-content>div:first-of-type>div {
        text-align: center;
    }
}

@media (max-width:767px) {
    .modal-content .std-group {
        justify-content: center;
    }
}

.std-name {
    text-transform: capitalize;
    color: var(--MainTextColor);
}

.std-email {
    display: inline-block;
    color: #777;
    margin: 10px 0;
}

.std-group {
    text-transform: capitalize;
    font-weight: 500;
    color: #777;
    display: flex;
    align-items: center;
    gap: 5px;
}

#gLbl {
    color: var(--SecTextColor);
    font-weight: 600;
}

.modal-content .dspStatus {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin: 0%;
}

.attend-log {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    border-top: 1px var(--ThrdTextColor) solid;
    overscroll-behavior-inline: contain;
}

/* Scroll width */
.attend-log::-webkit-scrollbar {
    height: 15px;
}

/* Scroll Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Scroll Handle */
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 8px;
}

.lec-log {
    min-width: max-content;
}

.lec-title {
    color: var(--SecTextColor);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
}

.lec-attend {
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    color: #777;
}

@media (max-width:767px) {
    .attend-log::-webkit-scrollbar {
        display: none;
    }
}